# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Databases
*.db
*.sqlite3
*.db-journal
database/*.db

# Uploads & temporary artifacts
uploads/
tmp/
scratch/

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
